In [1]:
import os
import pandas as pd

In [2]:
src_path = r'/home/dmacs/Documents/Final Dissertation/Data/Prices/Prices 22-23/Excel Files/Full Data/'
dest_path = r'/home/dmacs/Documents/Final Dissertation/Data/Prices/Prices 22-23/Excel Files/Aggregated/'

In [3]:
files = os.listdir(src_path)
files

['Bengal Gram Dal (Chana Dal)_22-23.xlsx',
 'Maize_22-23.xlsx',
 'Bengal Gram(Gram)(Whole)_22-23.xlsx',
 'Soyabean_22-23.xlsx',
 'Mustard_22-23.xlsx',
 'Wheat_22-23.xlsx',
 'Barley+(Jau)_22-23.xlsx']

In [4]:
df = pd.read_excel(src_path+files[-1])
df

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date,Year,Month
0,1,Buxar,Buxur,Barley (Jau),Other,FAQ,600.0,800.0,700.0,2022-05-31,2022,5
1,2,Buxar,Buxur,Barley (Jau),Other,FAQ,600.0,0.0,700.0,2022-05-19,2022,5
2,3,Buxar,Buxur,Barley (Jau),Other,FAQ,1200.0,1400.0,1300.0,2022-05-10,2022,5
3,4,Buxar,Buxur,Barley (Jau),Other,FAQ,1600.0,2000.0,1800.0,2022-05-07,2022,5
4,5,Buxar,Buxur,Barley (Jau),Other,FAQ,1600.0,1800.0,1700.0,2022-04-30,2022,4
...,...,...,...,...,...,...,...,...,...,...,...,...
18902,18903,Varanasi,Varanasi(Grain),Barley (Jau),Dara,FAQ,2145.0,2200.0,2180.0,2022-04-02,2022,4
18903,18904,Varanasi,Varanasi(Grain),Barley (Jau),Dara,FAQ,2100.0,2200.0,2170.0,2022-04-01,2022,4
18904,18905,Kanpur,Varipaal,Barley (Jau),Dara,FAQ,2400.0,2600.0,2500.0,2022-05-21,2022,5
18905,18906,Kanpur,Varipaal,Barley (Jau),Dara,FAQ,2200.0,2700.0,2400.0,2022-05-17,2022,5
18906,18907,Nanital,Haldwani,Barley (Jau),Other,FAQ,2100.0,2100.0,2100.0,2022-10-17,2022,10

In [11]:
df.set_index('Price Date').groupby(['Year','Month']).mean()

                  Sl no.  Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  \
Year Month
2022 4       7444.112849              2408.320298              2601.630633
     5       8210.839422              2433.566695              2587.891674
     6       8836.495164              2425.849130              2557.221591
     7       9447.156366              2479.749691              2584.451174
     8      10051.170139              2512.190278              2609.946528
     9      10431.057816              2503.125625              2613.539615
     10     10872.650442              2513.449558              2625.844248
     11     10340.191253              2586.171979              2707.544107
     12     10476.550553              2638.815166              2757.715640
2023 1      11494.929709              2684.163074              2794.109653
     2      11463.713611              2629.538752              2739.209830
     3       8764.123725              2209.161285              2336.763596

            Modal Price (Rs./Quintal)
Year Month
2022 4                    2528.311732
     5                    2521.967715
     6                    2501.173598
     7                    2538.159456
     8                    2563.389583
     9                    2565.077802
     10                   2574.500000
     11                   2653.377317
     12                   2708.597946
2023 1                    2750.572634
     2                    2697.168242
     3                    2285.041638

In [15]:
for file in files :
    print(file)
    df = pd.read_excel(src_path+file)
    df.set_index('Price Date').groupby(['Year','Month']).mean().to_excel(dest_path+file)

Bengal Gram Dal (Chana Dal)_22-23.xlsx
Maize_22-23.xlsx
Bengal Gram(Gram)(Whole)_22-23.xlsx
Soyabean_22-23.xlsx
Mustard_22-23.xlsx
Wheat_22-23.xlsx
Barley+(Jau)_22-23.xlsx