In [1]:
! pip3 install openpyxl

Requirement already satisfied: openpyxl in /home/dmacs/anaconda3/lib/python3.9/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /home/dmacs/anaconda3/lib/python3.9/site-packages (from openpyxl) (1.1.0)

In [2]:
import os
import openpyxl as xl
import pandas as pd

In [3]:
CollatedDirectory =  "/home/dmacs/Documents/Pranav_Phanindra/Data_Scraping_Final/Data_Part_2/Collated"

In [4]:
DataFiles = os.listdir(CollatedDirectory)
DataFiles.sort()
DataFiles

['12_Mustard.xlsx',
 '13_Soyabean.xlsx',
 '1_Wheat.xlsx',
 '263_Bengal+Gram+Dal+(Chana+Dal).xlsx',
 '29_Barley+(Jau).xlsx',
 '4_Maize.xlsx',
 '6_Bengal+Gram(Gram)(Whole).xlsx']

In [ ]:
for file in DataFiles :
    wb = xl.load_workbook(CollatedDirectory+'/{}'.format(file))
    print(wb.sheetnames,'\n')
    wb.close()

In [5]:
 wb = xl.load_workbook(CollatedDirectory+'/12_Mustard.xlsx')

In [6]:
sheets = wb.sheetnames

In [7]:
sheets

['Andaman and Nicobar',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chattisgarh',
 'Chandigarh',
 'Daman and Diu',
 'NCT of Delhi',
 'Dadra and Nagar Haveli',
 'Gujarat',
 'Goa',
 'Himachal Pradesh',
 'Haryana',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Lakshadweep',
 'Meghalaya',
 'Maharashtra',
 'Manipur',
 'Madhya Pradesh',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Punjab',
 'Pondicherry',
 'Rajasthan',
 'Sikkim',
 'Telangana',
 'Tamil Nadu',
 'Tripura',
 'Uttrakhand',
 'Uttar Pradesh',
 'West Bengal']

In [8]:
for sheet in sheets :
    print(wb[sheet].max_row,wb[sheet].max_column)

2 14
22 12
12 12
5735 12
463 12
1 2
2 14
2 14
5273 12
2 14
79156 12
2 14
32 12
23666 12
2 14
3707 12
3485 12
553 12
2 14
51 12
7847 12
691 12
207728 12
415 12
2 14
177 12
1116 12
107 12
255783 12
2 14
476 12
29 12
3 12
594 12
352555 12
64998 12

In [9]:
df = pd.DataFrame(wb[ 'Andhra Pradesh'].values)

In [10]:
df.iloc[:,1:]

,1,2,3,4,5,6,7,8,9,10,11
0,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date,State
1,1,Kurnool,Adoni,Mustard,Other,FAQ,1550,1600,1575,2009-02-20 00:00:00,Andhra Pradesh
2,2,Kurnool,Alur,Mustard,Other,Medium,2918,2918,2918,2013-05-03 00:00:00,Andhra Pradesh
3,3,Kurnool,Alur,Mustard,Mustard,Medium,3018,3018,3018,2013-03-25 00:00:00,Andhra Pradesh
4,4,Kurnool,Alur,Mustard,Other,Medium,3018,3018,3018,2013-03-25 00:00:00,Andhra Pradesh
5,5,Kurnool,Alur,Mustard,Mustard,Medium,2598,2598,2598,2012-04-22 00:00:00,Andhra Pradesh
6,6,Kurnool,Alur,Mustard,Other,Medium,2557,2557,2557,2012-03-13 00:00:00,Andhra Pradesh
7,7,Kurnool,Alur,Mustard,Other,Medium,2555,2555,2555,2012-03-09 00:00:00,Andhra Pradesh
8,8,Cuddapah,Cuddapah,Mustard,Other,FAQ,3200,3300,3250,2014-05-10 00:00:00,Andhra Pradesh
9,9,Cuddapah,Cuddapah,Mustard,Other,FAQ,2712,2725,2718,2014-03-15 00:00:00,Andhra Pradesh
10,10,Cuddapah,Cuddapah,Mustard,Other,FAQ,2728,2850,2789,2014-03-11 00:00:00,Andhra Pradesh
11,11,Cuddapah,Cuddapah,Mustard,Other,FAQ,2850,2875,2863,2014-03-05 00:00:00,Andhra Pradesh
12,12,Cuddapah,Cuddapah,Mustard,Other,FAQ,2900,2925,2913,2014-03-01 00:00:00,Andhra Pradesh
13,13,Cuddapah,Cuddapah,Mustard,Other,FAQ,2750,2825,2787,2014-02-24 00:00:00,Andhra Pradesh
14,14,Cuddapah,Cuddapah,Mustard,Other,FAQ,2625,2677,2651,2014-02-20 00:00:00,Andhra Pradesh
15,15,Cuddapah,Cuddapah,Mustard,Other,FAQ,2500,2600,2550,2011-06-30 00:00:00,Andhra Pradesh
16,16,Cuddapah,Cuddapah,Mustard,Other,FAQ,2600,2700,2650,2011-06-29 00:00:00,Andhra Pradesh
17,17,Srikakulam,Ichapuram,Mustard,Other,FAQ,3400,3575,3550,2012-06-01 00:00:00,Andhra Pradesh
18,18,Kurnool,Koilkunta,Mustard,Other,FAQ,3600,3800,3700,2013-06-28 00:00:00,Andhra Pradesh
19,19,Kurnool,Koilkunta,Mustard,Other,FAQ,2700,2900,2800,2013-04-24 00:00:00,Andhra Pradesh
20,20,Vijayanagaram,"R and B Guest House,RBZ,Vizianagaram",Mustard,Other,FAQ,2200,2515,2357,2008-05-24 00:00:00,Andhra Pradesh
21,21,Vijayanagaram,"R and B Guest House,RBZ,Vizianagaram",Mustard,Other,FAQ,2200,2540,2370,2008-05-23 00:00:00,Andhra Pradesh

In [11]:
wb.close()

In [12]:
df.columns = df.iloc[0,:]

In [13]:
df = df.iloc[1:,1:]

In [14]:
df

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date,State
1,1,Kurnool,Adoni,Mustard,Other,FAQ,1550,1600,1575,2009-02-20 00:00:00,Andhra Pradesh
2,2,Kurnool,Alur,Mustard,Other,Medium,2918,2918,2918,2013-05-03 00:00:00,Andhra Pradesh
3,3,Kurnool,Alur,Mustard,Mustard,Medium,3018,3018,3018,2013-03-25 00:00:00,Andhra Pradesh
4,4,Kurnool,Alur,Mustard,Other,Medium,3018,3018,3018,2013-03-25 00:00:00,Andhra Pradesh
5,5,Kurnool,Alur,Mustard,Mustard,Medium,2598,2598,2598,2012-04-22 00:00:00,Andhra Pradesh
6,6,Kurnool,Alur,Mustard,Other,Medium,2557,2557,2557,2012-03-13 00:00:00,Andhra Pradesh
7,7,Kurnool,Alur,Mustard,Other,Medium,2555,2555,2555,2012-03-09 00:00:00,Andhra Pradesh
8,8,Cuddapah,Cuddapah,Mustard,Other,FAQ,3200,3300,3250,2014-05-10 00:00:00,Andhra Pradesh
9,9,Cuddapah,Cuddapah,Mustard,Other,FAQ,2712,2725,2718,2014-03-15 00:00:00,Andhra Pradesh
10,10,Cuddapah,Cuddapah,Mustard,Other,FAQ,2728,2850,2789,2014-03-11 00:00:00,Andhra Pradesh
11,11,Cuddapah,Cuddapah,Mustard,Other,FAQ,2850,2875,2863,2014-03-05 00:00:00,Andhra Pradesh
12,12,Cuddapah,Cuddapah,Mustard,Other,FAQ,2900,2925,2913,2014-03-01 00:00:00,Andhra Pradesh
13,13,Cuddapah,Cuddapah,Mustard,Other,FAQ,2750,2825,2787,2014-02-24 00:00:00,Andhra Pradesh
14,14,Cuddapah,Cuddapah,Mustard,Other,FAQ,2625,2677,2651,2014-02-20 00:00:00,Andhra Pradesh
15,15,Cuddapah,Cuddapah,Mustard,Other,FAQ,2500,2600,2550,2011-06-30 00:00:00,Andhra Pradesh
16,16,Cuddapah,Cuddapah,Mustard,Other,FAQ,2600,2700,2650,2011-06-29 00:00:00,Andhra Pradesh
17,17,Srikakulam,Ichapuram,Mustard,Other,FAQ,3400,3575,3550,2012-06-01 00:00:00,Andhra Pradesh
18,18,Kurnool,Koilkunta,Mustard,Other,FAQ,3600,3800,3700,2013-06-28 00:00:00,Andhra Pradesh
19,19,Kurnool,Koilkunta,Mustard,Other,FAQ,2700,2900,2800,2013-04-24 00:00:00,Andhra Pradesh
20,20,Vijayanagaram,"R and B Guest House,RBZ,Vizianagaram",Mustard,Other,FAQ,2200,2515,2357,2008-05-24 00:00:00,Andhra Pradesh
21,21,Vijayanagaram,"R and B Guest House,RBZ,Vizianagaram",Mustard,Other,FAQ,2200,2540,2370,2008-05-23 00:00:00,Andhra Pradesh

In [15]:
df = df.set_index('Sl no.')

/home/dmacs/anaconda3/lib/python3.9/site-packages/pandas/core/indexes/base.py:6982: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  return Index(sequences[0], name=names)

In [16]:
df.columns

Index(['District Name', 'Market Name', 'Commodity', 'Variety', 'Grade',
       'Min Price (Rs./Quintal)', 'Max Price (Rs./Quintal)',
       'Modal Price (Rs./Quintal)', 'Price Date', 'State'],
      dtype='object', name=0)

In [17]:
df

,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date,State
Sl no.,,,,,,,,,,
1,Kurnool,Adoni,Mustard,Other,FAQ,1550,1600,1575,2009-02-20 00:00:00,Andhra Pradesh
2,Kurnool,Alur,Mustard,Other,Medium,2918,2918,2918,2013-05-03 00:00:00,Andhra Pradesh
3,Kurnool,Alur,Mustard,Mustard,Medium,3018,3018,3018,2013-03-25 00:00:00,Andhra Pradesh
4,Kurnool,Alur,Mustard,Other,Medium,3018,3018,3018,2013-03-25 00:00:00,Andhra Pradesh
5,Kurnool,Alur,Mustard,Mustard,Medium,2598,2598,2598,2012-04-22 00:00:00,Andhra Pradesh
6,Kurnool,Alur,Mustard,Other,Medium,2557,2557,2557,2012-03-13 00:00:00,Andhra Pradesh
7,Kurnool,Alur,Mustard,Other,Medium,2555,2555,2555,2012-03-09 00:00:00,Andhra Pradesh
8,Cuddapah,Cuddapah,Mustard,Other,FAQ,3200,3300,3250,2014-05-10 00:00:00,Andhra Pradesh
9,Cuddapah,Cuddapah,Mustard,Other,FAQ,2712,2725,2718,2014-03-15 00:00:00,Andhra Pradesh
10,Cuddapah,Cuddapah,Mustard,Other,FAQ,2728,2850,2789,2014-03-11 00:00:00,Andhra Pradesh
11,Cuddapah,Cuddapah,Mustard,Other,FAQ,2850,2875,2863,2014-03-05 00:00:00,Andhra Pradesh
12,Cuddapah,Cuddapah,Mustard,Other,FAQ,2900,2925,2913,2014-03-01 00:00:00,Andhra Pradesh
13,Cuddapah,Cuddapah,Mustard,Other,FAQ,2750,2825,2787,2014-02-24 00:00:00,Andhra Pradesh
14,Cuddapah,Cuddapah,Mustard,Other,FAQ,2625,2677,2651,2014-02-20 00:00:00,Andhra Pradesh
15,Cuddapah,Cuddapah,Mustard,Other,FAQ,2500,2600,2550,2011-06-30 00:00:00,Andhra Pradesh
16,Cuddapah,Cuddapah,Mustard,Other,FAQ,2600,2700,2650,2011-06-29 00:00:00,Andhra Pradesh
17,Srikakulam,Ichapuram,Mustard,Other,FAQ,3400,3575,3550,2012-06-01 00:00:00,Andhra Pradesh
18,Kurnool,Koilkunta,Mustard,Other,FAQ,3600,3800,3700,2013-06-28 00:00:00,Andhra Pradesh
19,Kurnool,Koilkunta,Mustard,Other,FAQ,2700,2900,2800,2013-04-24 00:00:00,Andhra Pradesh
20,Vijayanagaram,"R and B Guest House,RBZ,Vizianagaram",Mustard,Other,FAQ,2200,2515,2357,2008-05-24 00:00:00,Andhra Pradesh
21,Vijayanagaram,"R and B Guest House,RBZ,Vizianagaram",Mustard,Other,FAQ,2200,2540,2370,2008-05-23 00:00:00,Andhra Pradesh

In [19]:
df['Avg_Price'] = (df['Min Price (Rs./Quintal)']+df['Max Price (Rs./Quintal)'])/2

In [20]:
df

,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date,State,Avg_Price
Sl no.,,,,,,,,,,,
1,Kurnool,Adoni,Mustard,Other,FAQ,1550,1600,1575,2009-02-20 00:00:00,Andhra Pradesh,1575.0
2,Kurnool,Alur,Mustard,Other,Medium,2918,2918,2918,2013-05-03 00:00:00,Andhra Pradesh,2918.0
3,Kurnool,Alur,Mustard,Mustard,Medium,3018,3018,3018,2013-03-25 00:00:00,Andhra Pradesh,3018.0
4,Kurnool,Alur,Mustard,Other,Medium,3018,3018,3018,2013-03-25 00:00:00,Andhra Pradesh,3018.0
5,Kurnool,Alur,Mustard,Mustard,Medium,2598,2598,2598,2012-04-22 00:00:00,Andhra Pradesh,2598.0
6,Kurnool,Alur,Mustard,Other,Medium,2557,2557,2557,2012-03-13 00:00:00,Andhra Pradesh,2557.0
7,Kurnool,Alur,Mustard,Other,Medium,2555,2555,2555,2012-03-09 00:00:00,Andhra Pradesh,2555.0
8,Cuddapah,Cuddapah,Mustard,Other,FAQ,3200,3300,3250,2014-05-10 00:00:00,Andhra Pradesh,3250.0
9,Cuddapah,Cuddapah,Mustard,Other,FAQ,2712,2725,2718,2014-03-15 00:00:00,Andhra Pradesh,2718.5
10,Cuddapah,Cuddapah,Mustard,Other,FAQ,2728,2850,2789,2014-03-11 00:00:00,Andhra Pradesh,2789.0
11,Cuddapah,Cuddapah,Mustard,Other,FAQ,2850,2875,2863,2014-03-05 00:00:00,Andhra Pradesh,2862.5
12,Cuddapah,Cuddapah,Mustard,Other,FAQ,2900,2925,2913,2014-03-01 00:00:00,Andhra Pradesh,2912.5
13,Cuddapah,Cuddapah,Mustard,Other,FAQ,2750,2825,2787,2014-02-24 00:00:00,Andhra Pradesh,2787.5
14,Cuddapah,Cuddapah,Mustard,Other,FAQ,2625,2677,2651,2014-02-20 00:00:00,Andhra Pradesh,2651.0
15,Cuddapah,Cuddapah,Mustard,Other,FAQ,2500,2600,2550,2011-06-30 00:00:00,Andhra Pradesh,2550.0
16,Cuddapah,Cuddapah,Mustard,Other,FAQ,2600,2700,2650,2011-06-29 00:00:00,Andhra Pradesh,2650.0
17,Srikakulam,Ichapuram,Mustard,Other,FAQ,3400,3575,3550,2012-06-01 00:00:00,Andhra Pradesh,3487.5
18,Kurnool,Koilkunta,Mustard,Other,FAQ,3600,3800,3700,2013-06-28 00:00:00,Andhra Pradesh,3700.0
19,Kurnool,Koilkunta,Mustard,Other,FAQ,2700,2900,2800,2013-04-24 00:00:00,Andhra Pradesh,2800.0
20,Vijayanagaram,"R and B Guest House,RBZ,Vizianagaram",Mustard,Other,FAQ,2200,2515,2357,2008-05-24 00:00:00,Andhra Pradesh,2357.5
21,Vijayanagaram,"R and B Guest House,RBZ,Vizianagaram",Mustard,Other,FAQ,2200,2540,2370,2008-05-23 00:00:00,Andhra Pradesh,2370.0

In [22]:
df['Avg_Price'].mean()

2767.8571428571427

In [23]:
df['Min Price (Rs./Quintal)'].mean()

2722.809523809524

In [25]:
df['Max Price (Rs./Quintal)'].mean()

2812.904761904762