In [2]:
!pip3 install openpyxl 
import os
import openpyxl as xl
import pandas as pd

Requirement already satisfied: openpyxl in /home/dmacs/anaconda3/lib/python3.9/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /home/dmacs/anaconda3/lib/python3.9/site-packages (from openpyxl) (1.1.0)

In [3]:
Collated =  "/home/dmacs/Documents/Pranav_Phanindra/Data_Scraping_Final/Data_Part_2/Collated"

In [4]:
DataFiles = os.listdir(Collated)
DataFiles.sort()
DataFiles

['12_Mustard.xlsx',
 '13_Soyabean.xlsx',
 '1_Wheat.xlsx',
 '263_Bengal+Gram+Dal+(Chana+Dal).xlsx',
 '29_Barley+(Jau).xlsx',
 '4_Maize.xlsx',
 '6_Bengal+Gram(Gram)(Whole).xlsx']

In [5]:
"""

from openpyxl import load_workbook

def get_sheetnames_xlsx(filepath):
    wb = load_workbook(filepath, read_only=True, keep_links=False)
    return wb.sheetnames
Benchmark: ~ 14x speed improvement

get_sheetnames_xlsx vs pd.read_excel
225 ms ± 6.21 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
3.25 s ± 140 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
xlsb
from pyxlsb import open_workbook

def get_sheetnames_xlsb(filepath):
  with open_workbook(filepath) as wb:
     return wb.sheets



import xlrd
xls = xlrd.open_workbook(r"/home/dmacs/Documents/Pranav_Phanindra/Data_Scraping_Final/Data_Part_2/Collated/{}".format(DataFiles[0]), on_demand=True)
print(xls.sheet_names()) 
# <- remeber: xlrd sheet_names is a function, not a property

"""

'\n\nfrom openpyxl import load_workbook\n\ndef get_sheetnames_xlsx(filepath):\n    wb = load_workbook(filepath, read_only=True, keep_links=False)\n    return wb.sheetnames\nBenchmark: ~ 14x speed improvement\n\nget_sheetnames_xlsx vs pd.read_excel\n225 ms ± 6.21 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)\n3.25 s ± 140 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)\nxlsb\nfrom pyxlsb import open_workbook\n\ndef get_sheetnames_xlsb(filepath):\n  with open_workbook(filepath) as wb:\n     return wb.sheets\n\n\n\nimport xlrd\nxls = xlrd.open_workbook(r"/home/dmacs/Documents/Pranav_Phanindra/Data_Scraping_Final/Data_Part_2/Collated/{}".format(DataFiles[0]), on_demand=True)\nprint(xls.sheet_names()) \n# <- remeber: xlrd sheet_names is a function, not a property\n\n'

In [6]:
from openpyxl import load_workbook

def get_sheet_names(filepath) :
    wb = load_workbook(filepath , read_only = True , keep_links = False)
    return wb.sheetnames

In [7]:
for i in range(len(DataFiles)) :
    sheetnames = get_sheet_names(Collated+'/{}'.format(DataFiles[i]))
    print(sheetnames)
    print('\n')

['Andaman and Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chattisgarh', 'Chandigarh', 'Daman and Diu', 'NCT of Delhi', 'Dadra and Nagar Haveli', 'Gujarat', 'Goa', 'Himachal Pradesh', 'Haryana', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep', 'Meghalaya', 'Maharashtra', 'Manipur', 'Madhya Pradesh', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Pondicherry', 'Rajasthan', 'Sikkim', 'Telangana', 'Tamil Nadu', 'Tripura', 'Uttrakhand', 'Uttar Pradesh', 'West Bengal']


['Andaman and Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chattisgarh', 'Chandigarh', 'Daman and Diu', 'NCT of Delhi', 'Dadra and Nagar Haveli', 'Gujarat', 'Goa', 'Himachal Pradesh', 'Haryana', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep', 'Meghalaya', 'Maharashtra', 'Manipur', 'Madhya Pradesh', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Pondicherry', 'Rajasthan', 'Sikkim', 'Telangana', 'Tamil Nadu', 'Tripura', 'Uttrakhand', 'Uttar Pradesh', 'West Bengal']


['Andaman and Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chattisgarh', 'Chandigarh', 'Daman and Diu', 'NCT of Delhi', 'Dadra and Nagar Haveli', 'Gujarat', 'Goa', 'Himachal Pradesh', 'Haryana', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep', 'Meghalaya', 'Maharashtra', 'Manipur', 'Madhya Pradesh', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Pondicherry', 'Rajasthan', 'Sikkim', 'Telangana', 'Tamil Nadu', 'Tripura', 'Uttrakhand', 'Uttar Pradesh', 'West Bengal']


['Andaman and Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chattisgarh', 'Chandigarh', 'Daman and Diu', 'NCT of Delhi', 'Dadra and Nagar Haveli', 'Gujarat', 'Goa', 'Himachal Pradesh', 'Haryana', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep', 'Meghalaya', 'Maharashtra', 'Manipur', 'Madhya Pradesh', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Pondicherry', 'Rajasthan', 'Sikkim', 'Telangana', 'Tamil Nadu', 'Tripura', 'Uttrakhand', 'Uttar Pradesh', 'West Bengal']


['Andaman and Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chattisgarh', 'Chandigarh', 'Daman and Diu', 'NCT of Delhi', 'Dadra and Nagar Haveli', 'Gujarat', 'Goa', 'Himachal Pradesh', 'Haryana', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep', 'Meghalaya', 'Maharashtra', 'Manipur', 'Madhya Pradesh', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Pondicherry', 'Rajasthan', 'Sikkim', 'Telangana', 'Tamil Nadu', 'Tripura', 'Uttrakhand', 'Uttar Pradesh', 'West Bengal']


['Andaman and Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chattisgarh', 'Chandigarh', 'Daman and Diu', 'NCT of Delhi', 'Dadra and Nagar Haveli', 'Gujarat', 'Goa', 'Himachal Pradesh', 'Haryana', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep', 'Meghalaya', 'Maharashtra', 'Manipur', 'Madhya Pradesh', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Pondicherry', 'Rajasthan', 'Sikkim', 'Telangana', 'Tamil Nadu', 'Tripura', 'Uttrakhand', 'Uttar Pradesh', 'West Bengal']


['Andaman and Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chattisgarh', 'Chandigarh', 'Daman and Diu', 'NCT of Delhi', 'Dadra and Nagar Haveli', 'Gujarat', 'Goa', 'Himachal Pradesh', 'Haryana', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep', 'Meghalaya', 'Maharashtra', 'Manipur', 'Madhya Pradesh', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Pondicherry', 'Rajasthan', 'Sikkim', 'Telangana', 'Tamil Nadu', 'Tripura', 'Uttrakhand', 'Uttar Pradesh', 'West Bengal']

In [8]:
df = pd.read_excel(open(Collated+'/{}'.format(DataFiles[0]), 'rb'), sheet_name='Andhra Pradesh')
df

,Unnamed: 0,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date,State
0,NaN,1,Kurnool,Adoni,Mustard,Other,FAQ,1550,1600,1575,2009-02-20,Andhra Pradesh
1,NaN,2,Kurnool,Alur,Mustard,Other,Medium,2918,2918,2918,2013-05-03,Andhra Pradesh
2,NaN,3,Kurnool,Alur,Mustard,Mustard,Medium,3018,3018,3018,2013-03-25,Andhra Pradesh
3,NaN,4,Kurnool,Alur,Mustard,Other,Medium,3018,3018,3018,2013-03-25,Andhra Pradesh
4,NaN,5,Kurnool,Alur,Mustard,Mustard,Medium,2598,2598,2598,2012-04-22,Andhra Pradesh
5,NaN,6,Kurnool,Alur,Mustard,Other,Medium,2557,2557,2557,2012-03-13,Andhra Pradesh
6,NaN,7,Kurnool,Alur,Mustard,Other,Medium,2555,2555,2555,2012-03-09,Andhra Pradesh
7,NaN,8,Cuddapah,Cuddapah,Mustard,Other,FAQ,3200,3300,3250,2014-05-10,Andhra Pradesh
8,NaN,9,Cuddapah,Cuddapah,Mustard,Other,FAQ,2712,2725,2718,2014-03-15,Andhra Pradesh
9,NaN,10,Cuddapah,Cuddapah,Mustard,Other,FAQ,2728,2850,2789,2014-03-11,Andhra Pradesh
10,NaN,11,Cuddapah,Cuddapah,Mustard,Other,FAQ,2850,2875,2863,2014-03-05,Andhra Pradesh
11,NaN,12,Cuddapah,Cuddapah,Mustard,Other,FAQ,2900,2925,2913,2014-03-01,Andhra Pradesh
12,NaN,13,Cuddapah,Cuddapah,Mustard,Other,FAQ,2750,2825,2787,2014-02-24,Andhra Pradesh
13,NaN,14,Cuddapah,Cuddapah,Mustard,Other,FAQ,2625,2677,2651,2014-02-20,Andhra Pradesh
14,NaN,15,Cuddapah,Cuddapah,Mustard,Other,FAQ,2500,2600,2550,2011-06-30,Andhra Pradesh
15,NaN,16,Cuddapah,Cuddapah,Mustard,Other,FAQ,2600,2700,2650,2011-06-29,Andhra Pradesh
16,NaN,17,Srikakulam,Ichapuram,Mustard,Other,FAQ,3400,3575,3550,2012-06-01,Andhra Pradesh
17,NaN,18,Kurnool,Koilkunta,Mustard,Other,FAQ,3600,3800,3700,2013-06-28,Andhra Pradesh
18,NaN,19,Kurnool,Koilkunta,Mustard,Other,FAQ,2700,2900,2800,2013-04-24,Andhra Pradesh
19,NaN,20,Vijayanagaram,"R and B Guest House,RBZ,Vizianagaram",Mustard,Other,FAQ,2200,2515,2357,2008-05-24,Andhra Pradesh
20,NaN,21,Vijayanagaram,"R and B Guest House,RBZ,Vizianagaram",Mustard,Other,FAQ,2200,2540,2370,2008-05-23,Andhra Pradesh

In [10]:
df = df.iloc[:,1:]
#df.iloc[:,1:]

In [11]:
df.set_index('Sl no.')
df

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date,State
0,1,Kurnool,Adoni,Mustard,Other,FAQ,1550,1600,1575,2009-02-20,Andhra Pradesh
1,2,Kurnool,Alur,Mustard,Other,Medium,2918,2918,2918,2013-05-03,Andhra Pradesh
2,3,Kurnool,Alur,Mustard,Mustard,Medium,3018,3018,3018,2013-03-25,Andhra Pradesh
3,4,Kurnool,Alur,Mustard,Other,Medium,3018,3018,3018,2013-03-25,Andhra Pradesh
4,5,Kurnool,Alur,Mustard,Mustard,Medium,2598,2598,2598,2012-04-22,Andhra Pradesh
5,6,Kurnool,Alur,Mustard,Other,Medium,2557,2557,2557,2012-03-13,Andhra Pradesh
6,7,Kurnool,Alur,Mustard,Other,Medium,2555,2555,2555,2012-03-09,Andhra Pradesh
7,8,Cuddapah,Cuddapah,Mustard,Other,FAQ,3200,3300,3250,2014-05-10,Andhra Pradesh
8,9,Cuddapah,Cuddapah,Mustard,Other,FAQ,2712,2725,2718,2014-03-15,Andhra Pradesh
9,10,Cuddapah,Cuddapah,Mustard,Other,FAQ,2728,2850,2789,2014-03-11,Andhra Pradesh
10,11,Cuddapah,Cuddapah,Mustard,Other,FAQ,2850,2875,2863,2014-03-05,Andhra Pradesh
11,12,Cuddapah,Cuddapah,Mustard,Other,FAQ,2900,2925,2913,2014-03-01,Andhra Pradesh
12,13,Cuddapah,Cuddapah,Mustard,Other,FAQ,2750,2825,2787,2014-02-24,Andhra Pradesh
13,14,Cuddapah,Cuddapah,Mustard,Other,FAQ,2625,2677,2651,2014-02-20,Andhra Pradesh
14,15,Cuddapah,Cuddapah,Mustard,Other,FAQ,2500,2600,2550,2011-06-30,Andhra Pradesh
15,16,Cuddapah,Cuddapah,Mustard,Other,FAQ,2600,2700,2650,2011-06-29,Andhra Pradesh
16,17,Srikakulam,Ichapuram,Mustard,Other,FAQ,3400,3575,3550,2012-06-01,Andhra Pradesh
17,18,Kurnool,Koilkunta,Mustard,Other,FAQ,3600,3800,3700,2013-06-28,Andhra Pradesh
18,19,Kurnool,Koilkunta,Mustard,Other,FAQ,2700,2900,2800,2013-04-24,Andhra Pradesh
19,20,Vijayanagaram,"R and B Guest House,RBZ,Vizianagaram",Mustard,Other,FAQ,2200,2515,2357,2008-05-24,Andhra Pradesh
20,21,Vijayanagaram,"R and B Guest House,RBZ,Vizianagaram",Mustard,Other,FAQ,2200,2540,2370,2008-05-23,Andhra Pradesh

In [13]:
df['year'] = pd.DatetimeIndex(df['Price Date']).year
df['month'] = pd.DatetimeIndex(df['Price Date']).month
df

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date,State,year,month
0,1,Kurnool,Adoni,Mustard,Other,FAQ,1550,1600,1575,2009-02-20,Andhra Pradesh,2009,2
1,2,Kurnool,Alur,Mustard,Other,Medium,2918,2918,2918,2013-05-03,Andhra Pradesh,2013,5
2,3,Kurnool,Alur,Mustard,Mustard,Medium,3018,3018,3018,2013-03-25,Andhra Pradesh,2013,3
3,4,Kurnool,Alur,Mustard,Other,Medium,3018,3018,3018,2013-03-25,Andhra Pradesh,2013,3
4,5,Kurnool,Alur,Mustard,Mustard,Medium,2598,2598,2598,2012-04-22,Andhra Pradesh,2012,4
5,6,Kurnool,Alur,Mustard,Other,Medium,2557,2557,2557,2012-03-13,Andhra Pradesh,2012,3
6,7,Kurnool,Alur,Mustard,Other,Medium,2555,2555,2555,2012-03-09,Andhra Pradesh,2012,3
7,8,Cuddapah,Cuddapah,Mustard,Other,FAQ,3200,3300,3250,2014-05-10,Andhra Pradesh,2014,5
8,9,Cuddapah,Cuddapah,Mustard,Other,FAQ,2712,2725,2718,2014-03-15,Andhra Pradesh,2014,3
9,10,Cuddapah,Cuddapah,Mustard,Other,FAQ,2728,2850,2789,2014-03-11,Andhra Pradesh,2014,3
10,11,Cuddapah,Cuddapah,Mustard,Other,FAQ,2850,2875,2863,2014-03-05,Andhra Pradesh,2014,3
11,12,Cuddapah,Cuddapah,Mustard,Other,FAQ,2900,2925,2913,2014-03-01,Andhra Pradesh,2014,3
12,13,Cuddapah,Cuddapah,Mustard,Other,FAQ,2750,2825,2787,2014-02-24,Andhra Pradesh,2014,2
13,14,Cuddapah,Cuddapah,Mustard,Other,FAQ,2625,2677,2651,2014-02-20,Andhra Pradesh,2014,2
14,15,Cuddapah,Cuddapah,Mustard,Other,FAQ,2500,2600,2550,2011-06-30,Andhra Pradesh,2011,6
15,16,Cuddapah,Cuddapah,Mustard,Other,FAQ,2600,2700,2650,2011-06-29,Andhra Pradesh,2011,6
16,17,Srikakulam,Ichapuram,Mustard,Other,FAQ,3400,3575,3550,2012-06-01,Andhra Pradesh,2012,6
17,18,Kurnool,Koilkunta,Mustard,Other,FAQ,3600,3800,3700,2013-06-28,Andhra Pradesh,2013,6
18,19,Kurnool,Koilkunta,Mustard,Other,FAQ,2700,2900,2800,2013-04-24,Andhra Pradesh,2013,4
19,20,Vijayanagaram,"R and B Guest House,RBZ,Vizianagaram",Mustard,Other,FAQ,2200,2515,2357,2008-05-24,Andhra Pradesh,2008,5
20,21,Vijayanagaram,"R and B Guest House,RBZ,Vizianagaram",Mustard,Other,FAQ,2200,2540,2370,2008-05-23,Andhra Pradesh,2008,5

In [26]:
df.sort_values(by = ['year','month'])

year
2008    2363.500000
2009    1575.000000
2011    2600.000000
2012    2901.333333
2013    3109.000000
2014    2929.916667
Name: Modal Price (Rs./Quintal), dtype: float64

In [27]:
df.groupby(['year', 'month'], as_index=False).mean()

,year,month,Sl no.,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal)
0,2008,5,20.5,2200.0,2527.50,2363.50
1,2009,2,1.0,1550.0,1600.00,1575.00
2,2011,6,15.5,2550.0,2650.00,2600.00
3,2012,3,6.5,2556.0,2556.00,2556.00
4,2012,4,5.0,2598.0,2598.00,2598.00
5,2012,6,17.0,3400.0,3575.00,3550.00
6,2013,3,3.5,3018.0,3018.00,3018.00
7,2013,4,19.0,2700.0,2900.00,2800.00
8,2013,5,2.0,2918.0,2918.00,2918.00
9,2013,6,18.0,3600.0,3800.00,3700.00
10,2014,2,13.5,2687.5,2751.00,2719.00
11,2014,3,10.5,2797.5,2843.75,2820.75
12,2014,5,8.0,3200.0,3300.00,3250.00

In [28]:
df.groupby(['year', 'month'], as_index=False).mean().groupby('year')['Modal Price (Rs./Quintal)'].mean()

year
2008    2363.500000
2009    1575.000000
2011    2600.000000
2012    2901.333333
2013    3109.000000
2014    2929.916667
Name: Modal Price (Rs./Quintal), dtype: float64

In [22]:
!pip install matplotlib
import matplotlib.pyplot as plt

Requirement already satisfied: matplotlib in /home/dmacs/anaconda3/lib/python3.9/site-packages (3.5.1)
Requirement already satisfied: pyparsing>=2.2.1 in /home/dmacs/anaconda3/lib/python3.9/site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in /home/dmacs/anaconda3/lib/python3.9/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /home/dmacs/anaconda3/lib/python3.9/site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: numpy>=1.17 in /home/dmacs/anaconda3/lib/python3.9/site-packages (from matplotlib) (1.21.5)
Requirement already satisfied: cycler>=0.10 in /home/dmacs/anaconda3/lib/python3.9/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /home/dmacs/anaconda3/lib/python3.9/site-packages (from matplotlib) (9.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/dmacs/anaconda3/lib/python3.9/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: packaging>=20.0 in /home/dmacs/anaconda3/lib/python3.9/site-packages (from matplotlib) (21.3)
Requirement already satisfied: six>=1.5 in /home/dmacs/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [31]:
df2 = df.groupby(['year', 'month'], as_index=False).mean()
df2

,year,month,Sl no.,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal)
0,2008,5,20.5,2200.0,2527.50,2363.50
1,2009,2,1.0,1550.0,1600.00,1575.00
2,2011,6,15.5,2550.0,2650.00,2600.00
3,2012,3,6.5,2556.0,2556.00,2556.00
4,2012,4,5.0,2598.0,2598.00,2598.00
5,2012,6,17.0,3400.0,3575.00,3550.00
6,2013,3,3.5,3018.0,3018.00,3018.00
7,2013,4,19.0,2700.0,2900.00,2800.00
8,2013,5,2.0,2918.0,2918.00,2918.00
9,2013,6,18.0,3600.0,3800.00,3700.00
10,2014,2,13.5,2687.5,2751.00,2719.00
11,2014,3,10.5,2797.5,2843.75,2820.75
12,2014,5,8.0,3200.0,3300.00,3250.00

In [12]:
for file in DataFiles :
    sheetnames = get_sheet_names(Collated+'/{}'.format(file))
    for sheet in sheetnames:
        df = pd.read_excel(open(Collated+'/{}'.format(file), 'rb'), sheet_name=sheet)
        df = df.iloc[:,1:]
        print(df)

          Sl no.  State Name  District Name  Market Name  Group  Commodity  \
0  No Data Found         NaN            NaN          NaN    NaN        NaN

   Variety  Grade  Min Price (Rs/Quintal)  Max Price (Rs/Quintal)  \
0      NaN    NaN                     NaN                     NaN

   Modal Price (Rs/Quintal)  Price Date                State
0                       NaN         NaN  Andaman and Nicobar
    Sl no.   District Name                            Market Name Commodity  \
0        1        Kurnool                                  Adoni   Mustard
1        2        Kurnool                                   Alur   Mustard
2        3        Kurnool                                   Alur   Mustard
3        4        Kurnool                                   Alur   Mustard
4        5        Kurnool                                   Alur   Mustard
5        6        Kurnool                                   Alur   Mustard
6        7        Kurnool                                   Alur   Mustard
7        8       Cuddapah                               Cuddapah   Mustard
8        9       Cuddapah                               Cuddapah   Mustard
9       10       Cuddapah                               Cuddapah   Mustard
10      11       Cuddapah                               Cuddapah   Mustard
11      12       Cuddapah                               Cuddapah   Mustard
12      13       Cuddapah                               Cuddapah   Mustard
13      14       Cuddapah                               Cuddapah   Mustard
14      15       Cuddapah                               Cuddapah   Mustard
15      16       Cuddapah                               Cuddapah   Mustard
16      17     Srikakulam                              Ichapuram   Mustard
17      18        Kurnool                              Koilkunta   Mustard
18      19        Kurnool                              Koilkunta   Mustard
19      20  Vijayanagaram   R and B Guest House,RBZ,Vizianagaram   Mustard
20      21  Vijayanagaram   R and B Guest House,RBZ,Vizianagaram   Mustard

     Variety    Grade  Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  \
0     Other      FAQ                      1550                     1600
1     Other   Medium                      2918                     2918
2   Mustard   Medium                      3018                     3018
3     Other   Medium                      3018                     3018
4   Mustard   Medium                      2598                     2598
5     Other   Medium                      2557                     2557
6     Other   Medium                      2555                     2555
7     Other      FAQ                      3200                     3300
8     Other      FAQ                      2712                     2725
9     Other      FAQ                      2728                     2850
10    Other      FAQ                      2850                     2875
11    Other      FAQ                      2900                     2925
12    Other      FAQ                      2750                     2825
13    Other      FAQ                      2625                     2677
14    Other      FAQ                      2500                     2600
15    Other      FAQ                      2600                     2700
16    Other      FAQ                      3400                     3575
17    Other      FAQ                      3600                     3800
18    Other      FAQ                      2700                     2900
19    Other      FAQ                      2200                     2515
20    Other      FAQ                      2200                     2540

    Modal Price (Rs./Quintal) Price Date           State
0                        1575 2009-02-20  Andhra Pradesh
1                        2918 2013-05-03  Andhra Pradesh
2                        3018 2013-03-25  Andhra Pradesh
3                        3018 2013-03-25  Andhra Pradesh
4                        2598 2012-04-22  Andhra Pradesh
5                        2557 2012-03-13  Andhra Pradesh
6                        2555 2012-03-09  Andhra Pradesh
7                        3250 2014-05-10  Andhra Pradesh
8                        2718 2014-03-15  Andhra Pradesh
9                        2789 2014-03-11  Andhra Pradesh
10                       2863 2014-03-05  Andhra Pradesh
11                       2913 2014-03-01  Andhra Pradesh
12                       2787 2014-02-24  Andhra Pradesh
13                       2651 2014-02-20  Andhra Pradesh
14                       2550 2011-06-30  Andhra Pradesh
15                       2650 2011-06-29  Andhra Pradesh
16                       3550 2012-06-01  Andhra Pradesh
17                       3700 2013-06-28  Andhra Pradesh
18                       2800 2013-04-24  Andhra Pradesh
19                       2357 2008-05-24  Andhra Pradesh
20                       2370 2008-05-23  Andhra Pradesh
    Sl no. District Name Market Name Commodity Variety Grade  \
0        1   East Siang    Pasighat   Mustard   Other   FAQ
1        2   East Siang    Pasighat   Mustard   Other   FAQ
2        3   East Siang    Pasighat   Mustard   Other   FAQ
3        4   East Siang    Pasighat   Mustard   Other   FAQ
4        5   East Siang    Pasighat   Mustard   Other   FAQ
5        6   East Siang    Pasighat   Mustard   Other   FAQ
6        7   East Siang    Pasighat   Mustard   Other   FAQ
7        8   East Siang    Pasighat   Mustard   Other   FAQ
8        9   East Siang    Pasighat   Mustard   Other   FAQ
9       10   East Siang    Pasighat   Mustard   Other   FAQ
10      11   East Siang    Pasighat   Mustard   Other   FAQ

    Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  \
0                      1700                     2300
1                      2700                     2900
2                      2200                     2500
3                      2000                     2500
4                      1700                     2200
5                      1700                     2000
6                      1800                     2000
7                      1800                     2200
8                      2500                     2800
9                      2500                     3000
10                     2700                     3000

    Modal Price (Rs./Quintal) Price Date              State
0                        2000 2011-02-05  Arunachal Pradesh
1                        2800 2010-11-15  Arunachal Pradesh
2                        2350 2010-10-26  Arunachal Pradesh
3                        2200 2010-10-07  Arunachal Pradesh
4                        2000 2010-08-10  Arunachal Pradesh
5                        1850 2010-06-23  Arunachal Pradesh
6                        1900 2010-06-21  Arunachal Pradesh
7                        2000 2010-06-04  Arunachal Pradesh
8                        2650 2010-05-14  Arunachal Pradesh
9                        2750 2010-05-10  Arunachal Pradesh
10                       2800 2010-05-04  Arunachal Pradesh
      Sl no. District Name Market Name Commodity   Variety Grade  \
0          1      Barpeta   Bohorihat   Mustard   Mustard   FAQ
1          2      Barpeta   Bohorihat   Mustard   Mustard   FAQ
2          3      Barpeta   Bohorihat   Mustard   Mustard   FAQ
3          4      Barpeta   Bohorihat   Mustard   Mustard   FAQ
4          5      Barpeta   Bohorihat   Mustard   Mustard   FAQ
...      ...           ...         ...       ...       ...   ...
5729    5730     Tinsukia    Tinsukia   Mustard     Other   FAQ
5730    5731     Tinsukia    Tinsukia   Mustard     Other   FAQ
5731    5732     Tinsukia    Tinsukia   Mustard   Mustard   FAQ
5732    5733     Tinsukia    Tinsukia   Mustard   Mustard   FAQ
5733    5734     Tinsukia    Tinsukia   Mustard     Other   FAQ

      Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  \
0                        3900                     3950
1                        3850                     3950
2                        3800                     3900
3                        3800                     3900
4                        3800                     3900
...                       ...                      ...
5729                     2000                     2400
5730                     1800                     3200
5731                     1700                     2000
5732                     3500                     4500
5733                     2100                     2500

      Modal Price (Rs./Quintal) Price Date  State
0                          3925 2019-11-22  Assam
1                          3900 2019-11-15  Assam
2                          3850 2019-11-11  Assam
3                          3850 2019-11-08  Assam
4                          3850 2019-11-07  Assam
...                         ...        ...    ...
5729                       2200 2015-04-12  Assam
5730                       2500 2015-04-07  Assam
5731                       1900 2015-03-21  Assam
5732                       4200 2014-11-17  Assam
5733                       2200 2013-06-14  Assam

[5734 rows x 11 columns]
     Sl no. District Name  Market Name Commodity      Variety Grade  \
0         1   Aurangabad   Aurangabad   Mustard        Other   FAQ
1         2   Aurangabad   Aurangabad   Mustard        Other   FAQ
2         3   Aurangabad   Aurangabad   Mustard        Other   FAQ
3         4   Aurangabad   Aurangabad   Mustard        Other   FAQ
4         5   Aurangabad   Aurangabad   Mustard        Other   FAQ
..      ...           ...          ...       ...          ...   ...
457     458   Sheikhpura    Shekhpura   Mustard   Big 100 Kg   FAQ
458     459   Sheikhpura    Shekhpura   Mustard   Big 100 Kg   FAQ
459     460   Sheikhpura    Shekhpura   Mustard   Big 100 Kg   FAQ
460     461   Sheikhpura    Shekhpura   Mustard   Big 100 Kg   FAQ
461     462   Sheikhpura    Shekhpura   Mustard   Big 100 Kg   FAQ

     Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  \
0                       4100                     4200
1                       4100                     4200
2                       4100                     4200
3                       4200                     4300
4                       4200                     4300
..                       ...                      ...
457                     8500                     8700
458                     8500                     8700
459                     8500                     8700
460                     8500                     8700
461                     7500                     7700

     Modal Price (Rs./Quintal) Price Date  State
0                         4150 2016-09-09  Bihar
1                         4150 2016-09-05  Bihar
2                         4150 2016-09-04  Bihar
3                         4250 2016-08-31  Bihar
4                         4250 2016-08-30  Bihar
..                         ...        ...    ...
457                       8600 2022-02-12  Bihar
458                       8600 2022-02-11  Bihar
459                       8600 2022-02-10  Bihar
460                       8600 2022-02-09  Bihar
461                       7600 2022-02-08  Bihar

[462 rows x 11 columns]
Empty DataFrame
Columns: [State]
Index: []

          Sl no.  State Name  District Name  Market Name  Group  Commodity  \
0  No Data Found         NaN            NaN          NaN    NaN        NaN

   Variety  Grade  Min Price (Rs/Quintal)  Max Price (Rs/Quintal)  \
0      NaN    NaN                     NaN                     NaN

   Modal Price (Rs/Quintal)  Price Date       State
0                       NaN         NaN  Chandigarh
          Sl no.  State Name  District Name  Market Name  Group  Commodity  \
0  No Data Found         NaN            NaN          NaN    NaN        NaN

   Variety  Grade  Min Price (Rs/Quintal)  Max Price (Rs/Quintal)  \
0      NaN    NaN                     NaN                     NaN

   Modal Price (Rs/Quintal)  Price Date          State
0                       NaN         NaN  Daman and Diu
      Sl no. District Name Market Name Commodity   Variety Grade  \
0          1        Delhi     Azadpur   Mustard     Other   FAQ
1          2        Delhi   Najafgarh   Mustard     Other   FAQ
2          3        Delhi   Najafgarh   Mustard     Other   FAQ
3          4        Delhi   Najafgarh   Mustard     Other   FAQ
4          5        Delhi   Najafgarh   Mustard     Other   FAQ
...      ...           ...         ...       ...       ...   ...
5267    5268        Delhi      Narela   Mustard   Mustard   FAQ
5268    5269        Delhi      Narela   Mustard   Mustard   FAQ
5269    5270        Delhi      Narela   Mustard   Mustard   FAQ
5270    5271        Delhi      Narela   Mustard   Mustard   FAQ
5271    5272        Delhi      Narela   Mustard   Mustard   FAQ

      Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  \
0                        1925                     2151
1                        6200                     6551
2                        6000                     6851
3                        6250                     6781
4                        6000                     6776
...                       ...                      ...
5267                     2284                     2467
5268                     2250                     2441
5269                     2000                     2432
5270                     1950                     2500
5271                     1900                     2535

      Modal Price (Rs./Quintal) Price Date         State
0                          2075 2010-02-27  NCT of Delhi
1                          6375 2022-03-31  NCT of Delhi
2                          6425 2022-03-28  NCT of Delhi
3                          6515 2022-03-27  NCT of Delhi
4                          6388 2022-03-26  NCT of Delhi
...                         ...        ...           ...
5267                       2460 2008-04-06  NCT of Delhi
5268                       2387 2008-04-05  NCT of Delhi
5269                       2425 2008-04-04  NCT of Delhi
5270                       2439 2008-04-03  NCT of Delhi
5271                       2405 2008-04-01  NCT of Delhi

[5272 rows x 11 columns]
          Sl no.  State Name  District Name  Market Name  Group  Commodity  \
0  No Data Found         NaN            NaN          NaN    NaN        NaN

   Variety  Grade  Min Price (Rs/Quintal)  Max Price (Rs/Quintal)  \
0      NaN    NaN                     NaN                     NaN

   Modal Price (Rs/Quintal)  Price Date                   State
0                       NaN         NaN  Dadra and Nagar Haveli

KeyboardInterrupt:

In [14]:
top_rice = {
    1:'West Bengal' ,
    2:'Uttar Pradesh' , 
    3:'Punjab' , 
    4:'Tamil Nadu' , 
    5:'Andhra Pradesh',
    6:'Bihar' , 
    7:'Chattisgarh',
    8:'Odisha',
    9:'Assam',
    10:'Haryana'
    }

In [15]:
for values in top_rice.values():
    print(values)

West Bengal
Uttar Pradesh
Punjab
Tamil Nadu
Andhra Pradesh
Bihar
Chattisgarh
Odisha
Assam
Haryana

In [16]:

wheat_states = ['Uttar Pradesh', 'Punjab', 'Madhya Pradesh' , 'Haryana', 'Rajasthan', 'Bihar', 'Gujarat', 'Maharashtra', 'West Bengal', 'Uttrakhand' ]

In [17]:
for i in range(0,len(wheat_states)) :
    top_rice[i] = wheat_states[i]

In [18]:
main_dataframe = pd.DataFrame()

In [22]:
for i in range(len(wheat_states)) :
    df = pd.read_excel(open(Collated+'/{}'.format('1_Wheat.xlsx'), 'rb'), sheet_name=wheat_states[i])
    main_dataframe = pd.concat([main_dataframe , df] , axis = 0)

In [24]:
main_dataframe.iloc[:,:-2]

,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date,State
0,Auraiya,Achalda,Wheat,Dara,FAQ,1940.0,2000.0,1980.0,2022-03-31,Uttar Pradesh
1,Auraiya,Achalda,Wheat,Dara,FAQ,1980.0,2020.0,2000.0,2022-03-30,Uttar Pradesh
2,Auraiya,Achalda,Wheat,Dara,FAQ,1900.0,2000.0,1980.0,2022-03-29,Uttar Pradesh
3,Auraiya,Achalda,Wheat,Dara,FAQ,1880.0,2080.0,1980.0,2022-03-28,Uttar Pradesh
4,Auraiya,Achalda,Wheat,Dara,FAQ,1950.0,2150.0,2050.0,2022-03-26,Uttar Pradesh
...,...,...,...,...,...,...,...,...,...,...
10375,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1030.0,1150.0,1097.0,2008-05-06,Uttrakhand
10376,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1100.0,1100.0,1100.0,2008-05-05,Uttrakhand
10377,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1010.0,1136.0,1023.0,2008-05-04,Uttrakhand
10378,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1050.0,1100.0,1075.0,2008-05-01,Uttrakhand
10379,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1100.0,1100.0,1100.0,2008-04-09,Uttrakhand

In [20]:
main_dataframe = main_dataframe.iloc[:,2:]

In [21]:
main_dataframe

,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date,State
0,Auraiya,Achalda,Wheat,Dara,FAQ,1940.0,2000.0,1980.0,2022-03-31,Uttar Pradesh
1,Auraiya,Achalda,Wheat,Dara,FAQ,1980.0,2020.0,2000.0,2022-03-30,Uttar Pradesh
2,Auraiya,Achalda,Wheat,Dara,FAQ,1900.0,2000.0,1980.0,2022-03-29,Uttar Pradesh
3,Auraiya,Achalda,Wheat,Dara,FAQ,1880.0,2080.0,1980.0,2022-03-28,Uttar Pradesh
4,Auraiya,Achalda,Wheat,Dara,FAQ,1950.0,2150.0,2050.0,2022-03-26,Uttar Pradesh
...,...,...,...,...,...,...,...,...,...,...
10375,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1030.0,1150.0,1097.0,2008-05-06,Uttrakhand
10376,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1100.0,1100.0,1100.0,2008-05-05,Uttrakhand
10377,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1010.0,1136.0,1023.0,2008-05-04,Uttrakhand
10378,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1050.0,1100.0,1075.0,2008-05-01,Uttrakhand
10379,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1100.0,1100.0,1100.0,2008-04-09,Uttrakhand

In [33]:
main_dataframe.shape

(1127900, 10)

In [34]:
main_dataframe.shape[0]

1127900

In [35]:
main_dataframe['Sl no.'] = range(1,main_dataframe.shape[0]+1)

In [36]:
main_dataframe

,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date,State,Sl no.
0,Auraiya,Achalda,Wheat,Dara,FAQ,1940.0,2000.0,1980.0,2022-03-31,Uttar Pradesh,1
1,Auraiya,Achalda,Wheat,Dara,FAQ,1980.0,2020.0,2000.0,2022-03-30,Uttar Pradesh,2
2,Auraiya,Achalda,Wheat,Dara,FAQ,1900.0,2000.0,1980.0,2022-03-29,Uttar Pradesh,3
3,Auraiya,Achalda,Wheat,Dara,FAQ,1880.0,2080.0,1980.0,2022-03-28,Uttar Pradesh,4
4,Auraiya,Achalda,Wheat,Dara,FAQ,1950.0,2150.0,2050.0,2022-03-26,Uttar Pradesh,5
...,...,...,...,...,...,...,...,...,...,...,...
10375,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1030.0,1150.0,1097.0,2008-05-06,Uttrakhand,1127896
10376,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1100.0,1100.0,1100.0,2008-05-05,Uttrakhand,1127897
10377,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1010.0,1136.0,1023.0,2008-05-04,Uttrakhand,1127898
10378,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1050.0,1100.0,1075.0,2008-05-01,Uttrakhand,1127899
10379,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1100.0,1100.0,1100.0,2008-04-09,Uttrakhand,1127900

In [37]:
main_dataframe.set_index('Sl no.')

,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date,State
Sl no.,,,,,,,,,,
1,Auraiya,Achalda,Wheat,Dara,FAQ,1940.0,2000.0,1980.0,2022-03-31,Uttar Pradesh
2,Auraiya,Achalda,Wheat,Dara,FAQ,1980.0,2020.0,2000.0,2022-03-30,Uttar Pradesh
3,Auraiya,Achalda,Wheat,Dara,FAQ,1900.0,2000.0,1980.0,2022-03-29,Uttar Pradesh
4,Auraiya,Achalda,Wheat,Dara,FAQ,1880.0,2080.0,1980.0,2022-03-28,Uttar Pradesh
5,Auraiya,Achalda,Wheat,Dara,FAQ,1950.0,2150.0,2050.0,2022-03-26,Uttar Pradesh
...,...,...,...,...,...,...,...,...,...,...
1127896,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1030.0,1150.0,1097.0,2008-05-06,Uttrakhand
1127897,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1100.0,1100.0,1100.0,2008-05-05,Uttrakhand
1127898,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1010.0,1136.0,1023.0,2008-05-04,Uttrakhand
1127899,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1050.0,1100.0,1075.0,2008-05-01,Uttrakhand
1127900,Dehradoon,Vikasnagar,Wheat,Other,FAQ,1100.0,1100.0,1100.0,2008-04-09,Uttrakhand

In [45]:
gkk = main_dataframe.groupby(['State', 'Market Name'])
gkk.first().sort_values('Price Date')

                                       District Name Commodity    Variety  \
State         Market Name
Maharashtra   Savali                     Chandrapur     Wheat   Sharbati
              Ralegaon                     Yavatmal     Wheat      Other
Punjab        Nawan Shahar(Mandi Aur)    Nawanshahr     Wheat      Other
Bihar         Arreria                        Araria     Wheat      Other
Punjab        Mukerian                   Hoshiarpur     Wheat    PBW-343
...                                              ...       ...        ...
Rajasthan     Anta                            Baran     Wheat      Other
Uttar Pradesh Lucknow                       Lucknow     Wheat       Dara
              Madhoganj                      Hardoi     Wheat       Dara
Rajasthan     Begu                      Chittorgarh     Wheat      Other
Maharashtra   Katol                          Nagpur     Wheat      Other

                                       Grade  Min Price (Rs./Quintal)  \
State         Market Name
Maharashtra   Savali                    FAQ                    1000.0
              Ralegaon                  FAQ                     900.0
Punjab        Nawan Shahar(Mandi Aur)   FAQ                    1000.0
Bihar         Arreria                   FAQ                     950.0
Punjab        Mukerian                  FAQ                    1000.0
...                                      ...                      ...
Rajasthan     Anta                      FAQ                    1976.0
Uttar Pradesh Lucknow                   FAQ                    2020.0
              Madhoganj                 FAQ                    2000.0
Rajasthan     Begu                      FAQ                    1950.0
Maharashtra   Katol                     FAQ                    1900.0

                                        Max Price (Rs./Quintal)  \
State         Market Name
Maharashtra   Savali                                     1015.0
              Ralegaon                                    900.0
Punjab        Nawan Shahar(Mandi Aur)                    1000.0
Bihar         Arreria                                    1050.0
Punjab        Mukerian                                   1000.0
...                                                         ...
Rajasthan     Anta                                       2100.0
Uttar Pradesh Lucknow                                    2080.0
              Madhoganj                                  2050.0
Rajasthan     Begu                                       2100.0
Maharashtra   Katol                                      2100.0

                                        Modal Price (Rs./Quintal) Price Date  \
State         Market Name
Maharashtra   Savali                                       1005.0 2008-04-21
              Ralegaon                                      900.0 2008-05-02
Punjab        Nawan Shahar(Mandi Aur)                      1000.0 2008-05-14
Bihar         Arreria                                      1000.0 2008-05-20
Punjab        Mukerian                                     1000.0 2008-05-27
...                                                           ...        ...
Rajasthan     Anta                                         2038.0 2022-03-31
Uttar Pradesh Lucknow                                      2050.0 2022-03-31
              Madhoganj                                    2020.0 2022-03-31
Rajasthan     Begu                                         2030.0 2022-03-31
Maharashtra   Katol                                        2000.0 2022-03-31

                                         Sl no.
State         Market Name
Maharashtra   Savali                    1005476
              Ralegaon                   994716
Punjab        Nawan Shahar(Mandi Aur)    505839
Bihar         Arreria                    797930
Punjab        Mukerian                   504465
...                                         ...
Rajasthan     Anta                       555257
Uttar Pradesh Lucknow                    287683
              Madhoganj                  291413
Rajasthan     Begu                       576287
Maharashtra   Katol                      904859

[1128 rows x 9 columns]