In [15]:
import pandas as pd
import os

In [16]:
src_path = r'/home/dmacs/Documents/Final Dissertation/Data/Volumes 2014-2022/'
files = os.listdir(src_path)
files

['Data_html',
 'Volumes Visualisations',
 'Master_Volumes_Aggregated.csv',
 'Data_xlsx',
 'Master_Volumes_Aggregated.xlsx',
 'Volumes_Collated',
 'Data_xls',
 'Data_xlsx_EWarning',
 'Volumes_Master_Collated.xlsx']

In [17]:
master_aggregated =  pd.read_csv(src_path+'Master_Volumes_Aggregated.csv')
master_aggregated

,Year,Month,Year-Mon,Barley,Maize,Mustard,Soyabean,Wheat,Bengal+Gram+Dal+(Chana+Dal),Bengal+Gram(Gram)(Whole)
0,2014,1,201401,9795.84,559420.16,189593.67,445713.43,506936.70,4775.10,88897.24
1,2014,2,201402,10150.19,619812.25,293354.86,468503.14,551422.35,5039.72,167656.47
2,2014,3,201403,53478.21,371756.96,1070311.92,389533.95,2687436.53,5467.20,293386.02
3,2014,4,201404,551574.30,298859.62,1278855.71,200669.12,15485482.85,4635.20,395275.33
4,2014,5,201405,190064.60,245252.83,623628.18,197163.78,10582314.33,7565.70,310446.71
...,...,...,...,...,...,...,...,...,...,...
103,2022,8,202208,10262.17,260833.79,142252.58,290479.25,1122528.08,13070.87,111674.88
104,2022,9,202209,9794.69,223293.00,136049.76,249192.85,1143310.55,15867.76,95245.79
105,2022,10,202210,8541.57,502673.17,132991.19,1099359.86,868319.38,11712.62,85734.84
106,2022,11,202211,11772.89,1405222.10,197768.38,1367844.01,972416.29,13528.75,113741.43
107,2022,12,202212,9767.50,884494.66,195314.96,750658.59,902530.18,NaN,104418.50